
<html>

<head>

</head>

<body>
<table  border="0" cellspacing="0" cellpadding="0">

  <tr class="header"  align="middle" valign="middle">
    <td colspan="2"  align="middle" valign="middle">
      <label class="taskListHeader"> Tasklists</label>
    </td>
    <td>
      <a [routerLink]="['addTaskList']">
        <button class="newButton"
                type="submit"
                (click)="showTaskListAdder()">+
        </button>
      </a>
    </td>
  </tr>
  <add-task-list [show]="showAddTaskListForm"> </add-task-list>
  <tr *ngFor = "let t of taskLists; let num = index"

      [ngClass]="{separatorRow: true}" >

      <td >
        {{t.name}}
      </td>
      <td>
      </td>
      <td align="center">
        <button class="deleteListButton" type="submit">-</button>
      </td>
    </tr>

</table>
</body>
</html>
